

*{
margin: 0;
padding: 0;
    font-family: serif;
background-color: darkolivegreen;
}


.header{
     width: 200px;
     
}
body{
  width: 100%;
  overflow: hidden;
   text-align: center;
    font-size: 200px;
  
}

nav{
    overflow: hidden;
    margin-bottom: 30px;
    position: fixed;
    float: right;
   
 

}
nav a {
    padding: 30px;
    text-decoration: none;
    border-radius: 3px;
    transition: 1s;
    color: papayawhip;
    background: black;
    padding-left: 200px;
    padding-right: 140px;
  
    
}
nav a:hover{
    background-color: forestgreen;
}
nav li{
    font-size: 80px;
    list-style-type: none;
    padding: 80px;
    background : black;
  
}
.container{
    width: 100%;
    margin: auto;
  
    
}   
.main{ width: auto;
}

#a-box h {
        font-size: 30px;

    margin-left: 400px;
      color: antiquewhite;
     filter: alpha(opacity=50);
    margin-top: -100px;
    
}
#a-box{
     margin-top: -270px;  
    margin-left: 300px;
    
}
#a-box img{
    width: 3500px;
    margin-left: 100px;
    margin-right: 800px;
    margin-top: 50px;
    float: right;
}

